@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --siyah:#000;
    --beyaz:#fff;
    --seffaf: rgba(165, 151, 151, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family:'Poppins', sans-serif;
    background: center/cover no-repeat url(body.jpg);

    /* buradan sonrası çözüm */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


    /* buradan sonrası çözüm */
header{  
    flex: 1 0 100px;
    max-height: 250px;
    width: 100%;
    display: flex;
    padding: 10px;
}
header > ul{
    flex: 1;
    max-height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    list-style: none;
}
header > ul > li{
    flex: 1;
    display: flex;
}

header > ul a {
    flex: 1;
    width: 100%;
    max-height: 80px;
    background-color: var(--seffaf);
    color:var(--beyaz);
    text-decoration: none;
    font-weight: bolder;
    padding: 30px;  
    text-align: center;
}

header > ul a:hover{
    color: var(--siyah);
}